<a href="https://colab.research.google.com/github/sumaiyaali141/python_assignment_1/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'''Question 1: Write a program which takes 5 inputs from user for different subject's marks, total it and generate mark sheed using grades?'''
math=int(input("Enter English Marks : "))
english=int(input("Enter English Marks : "))
urdu=int(input("Enter English Marks : "))
chemistry=int(input("Enter English Marks : "))
physics=int(input("Enter English Marks : "))
total_marks=math+english+urdu+chemistry+physics
print("Total Marks: " + str(total_marks))
marks_Percentage=(total_marks/500)*100
if(marks_Percentage>80):
    print("Grade : A")
elif(marks_Percentage>60):
    print("Grade : B")
elif(marks_Percentage>40):
    print("Grade : C")
else:
    print("Fail")

Enter English Marks : 89
Enter English Marks : 90
Enter English Marks : 78
Enter English Marks : 34
Enter English Marks : 09
Total Marks: 300
Grade : C

In [2]:
'''Write a program which take input from user and identigy that the given nubmer is even or odd?'''
number=int(input("Enter a number : "))
if(number%2==0):
    print("Even Number")
else:
    print("Odd Number")

Enter a number : 7
Odd Number

In [4]:
'''Write a program which print the length of the list?'''
a=[3,42,23,4321,234,324,34,23,534,234]
print("Length : "+str(len(a)))

Length : 10

In [10]:
'''Write a python program to sum all the numeric items in a list?'''
list_of_numbers=[7,476672,23776,421,234,324,34,23,534,234]
sum=0
for f in list_of_numbers:
    sum=sum+f
print("Sum : "+str(sum))

Sum : 502259

In [9]:
'''Write a python program to get the largest number from a numberic list?'''
list_of_numbers=[3,42,523,421,234,324,34,273,90534,234]
print("Maximum number in list : "+str(max(list_of_numbers)))

Maximum number in list : 90534

In [7]:
'''Take a list, say for example this one: a=[1,1,2,3,5,8,13,21,34,55,89] and write a program that prints out all the elements of the list that are less than 5'''
a=[1,1,288,3,567,8,183,21,384,5785,8099]
for num in a:
    if(num<5):
        print("Number less than 5 : "+str(num))

Number less than 5 : 1
Number less than 5 : 1
Number less than 5 : 3